<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>397040936920-35v2n9d78ubeu0k2nnj7qr9ga147vtlq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.397040936920-35v2n9d78ubeu0k2nnj7qr9ga147vtlq</string>
	<key>API_KEY</key>
	<string>AIzaSyCND8qtI_I12FI523p8q4-dnCMOue1hkA4</string>
	<key>GCM_SENDER_ID</key>
	<string>397040936920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>tinder-2-58303</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-2-58303.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:397040936920:ios:a15dd74a6094341492b4ad</string>
</dict>
</plist>